*-local-overrides.json
builder-tmp/
ui/build_assets/
less-tmp/
sprite-tmp/
node_modules/
node_modules
coverage/
tmp/
.build/
.idea/
.vscode
*.iml
*.log
*.jpg-*
.DS_Store
.project
.monitor
.sonar
doc
docs
it-test*/reports
screenshot.png
package-lock.json
integration-tests/reports
cypress/